.home {
  background-color: #f1f1f1;
  scroll-margin-top: 16vh;
  width: 100vw;
  height: 100vh;
}

.component {
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 1;
}

.behind {
  z-index: 0;
}
.bottom {
  position: absolute;
  bottom: 2em;
}
