.overall_component {
  margin: 9px;
}

.image_sizing {
  height: 148px;
  width: 224px;
}

.text_sizing {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: bold;

  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.text_sizing_right {
  float: right;
}
