.merch {
  background: #dc1e01;
  width: 100%;
  min-height: 83.7vh;
  scroll-margin-top: 16.3vh;
  background-size: cover;
  position: relative;
}

.components {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
